.row {
    display: flex;
    justify-content: center;
    padding: 1.5em;
}

.row.no-pad {
    display: flex;
    justify-content: center;
    padding: 0;
}

.toggle-content {
    display: none;
}

.toggle-content.is-visible {
    display: block;
}

hr.solid {
  border-top: 3px solid #bbb;
}

body {
    background-color: rgb(245, 245, 245);
    line-height: 1.5em;
    font-family: "Courier New", Courier, monospace;
}

#container {
    padding-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
}

header {
    padding-bottom: 3em;
}

header h1 {
    font-size: 3.5em;
    text-align: center;
}

header h2 {
    font-size: 1.2em;
    font-style: italic;
    text-align: center;
}

#gameOptions {
    margin-top: 5%;
    margin: 0 auto;
    width: 60%;
}

.imageButton {
    background: rgb(245, 245, 245);
    border-style: outset;
    display: inline-block;
    margin-right: 2em;
}

.imageButton:hover {
   background: rgb(200, 200, 200); 
}

.imageButton.selected {
   background: rgb(200, 200, 200); 
    border-style: inset;
}


.colorButton {
    margin: 0 auto;
}

#computerMove {
    font-size: 2.5em;
    text-align: center;
    padding: 25px;
    min-width: 64px;
    border: solid;
    background: rgb(250, 250, 250);
}

#errorMessage {
    color: red;
}

.actionButton {
    margin: 0.5em;
}

#pgnContainer {
    width: 60%;
    display: block;
    margin: 0 auto;
}
